<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>维思迈财经—提供中立的理财投资知识服务</title>
    <meta name="description" content="维思迈财经网提供中立的理财投资知识服务，汇集信用卡、基金、贷款、股票、保险等财经领域常识，助力您的财智人生！">
    <meta name="keywords" content="维思迈财经，财经知识类网站，理财投资，如何投资">
    <link th:href="@{${#httpServletRequest.getContextPath()}+'/new_h5/css/reset.css'}" rel="stylesheet" type="text/css">
    <link th:href="@{${#httpServletRequest.getContextPath()}+'/new_h5/css/bx.css'}" rel="stylesheet" type="text/css">
    <link th:href="@{${#httpServletRequest.getContextPath()}+'/new_h5/css/swiper-bundle.min.css'}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/js/jquery-1.10.1.min.js'}"></script>
    <script th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/js/swiper-bundle.min.js'}"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?dc514ac2d86a287446d54c8b1504b4b2";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body id="top">
    <p class="detail_title"><a href="index.html"><img th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/sy.png'}" class="backsy" /></a>产品精选</p>
    <div class="productnav bx" id="baoxian">
        <ul class="navlist">
            <li class="cur">人寿险</li>
            <li>健康险</li>
            <li>家财险</li>
            <li>旅游险</li>
            <li>意外险</li>
        </ul>
    </div>
    <div class="baoxianpro">
        <ul class="baoxianlist cur">
            <li>
                <a href="detail.html">
                    <img th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/b1.jpg'}">
                    <div>
                    <h3>金盈年年养老年金保险</h3>
                    <p>满期一次性领取10倍基本保额</p>
                   <span class="price"><b>￥666.00</b>元起</span><span class="more">查看细则</span></div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/b1.jpg'}">
                    <div>
                        <h3>金盈年年养老年金保险</h3>
                        <p>满期一次性领取10倍基本保额</p>
                        <span class="price"><b>￥666.00</b>元起</span><span class="more">查看细则</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="baoxianlist">2</ul>
        <ul class="baoxianlist">3</ul>
        <ul class="baoxianlist">4</ul>
        <ul class="baoxianlist">5</ul>
    </div>
    <div class="video">
        <h2>保险视频</h2>
        <ul class="videolist">
            <li><a href="javascript:void(0);"><video controls="controls"><source th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/demo.mp4'}" type="video/mp4" /></video></a><p>视频标题</p><span>2.2w播放</span></li>
            <li><a href="javascript:void(0);"><video controls="controls"><source th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/demo.mp4'}" type="video/mp4" /></video></a><p>视频标题</p><span>2.2w播放</span></li>
            <li><a href="javascript:void(0);"><video controls="controls"><source th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/demo.mp4'}" type="video/mp4" /></video></a><p>视频标题</p><span>2.2w播放</span></li>
            <li><a href="javascript:void(0);"><video controls="controls"><source th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/demo.mp4'}" type="video/mp4" /></video></a><p>视频标题</p><span>2.2w播放</span></li>
        </ul>
    </div>
    <div class="infomation">
        <ul class="navlist">
            <li class="cur">保险资讯</li>
            <li>保险百科</li>
            <li>保险课堂</li>
        </ul>
    </div>
    <div class="infomationpro">
        <ul class="infomationlist cur">
            <li>
                <a href="javascript:void(0);">
                    <div><p>评论：财富管理行业仍是一片蓝海</p><span><s>维思迈财经</s><s>3小时前</s></span></div><img th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/zx1.jpg'}" />
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <div><p>评论：财富管理行业仍是一片蓝海</p><span><s>维思迈财经</s><s>3小时前</s></span></div><img th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/zx1.jpg'}" />
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <div><p>评论：财富管理行业仍是一片蓝海</p><span><s>维思迈财经</s><s>3小时前</s></span></div><img th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/zx1.jpg'}" />
                </a>
            </li>
        </ul>
        <ul class="infomationlist">2</ul>
        <ul class="infomationlist">3</ul>
    </div>
    <div class="ask" id="wenda">
        <h2>保险问答</h2>
    </div>
    <div class="askpro">
        <ul>
            <li><a href="javascript:void(0);"> <p>贷款未到期，我可以提前还款吗？</p> <span>1234人问过</span></a></li>
            <li><a href="javascript:void(0);"> <p>贷款未到期，我可以提前还款吗？</p> <span>1234人问过</span></a></li>
            <li><a href="javascript:void(0);"> <p>贷款未到期，我可以提前还款吗？</p> <span>1234人问过</span></a></li>
            <li><a href="javascript:void(0);"> <p>贷款未到期，我可以提前还款吗？</p> <span>1234人问过</span></a></li>
            <li><a href="javascript:void(0);"> <p>贷款未到期，我可以提前还款吗？</p> <span>1234人问过</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>维思迈财经网提供中立的理财投资知识服务，汇集信用卡、基金、贷款、股票、保险等财经领域常识，用浅显的生活语言把专业金融知识变成您生活的一部分，助力您的财智人生！</p>
        <p> 版权所有： 维思迈财经</p>
        <p> 违法和不良信息举报电话：0351-7020802</p>
        <img th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/kx.png'}" />
    </div>
    <div class="back"><a href="#top"><img th:src="@{${#httpServletRequest.getContextPath()}+'/new_h5/images/top.png'}" /></a></div>
    <script type="text/javascript">
        //锚点缓动
        $('a[href*=#]').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var $target = $(this.hash);
                $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');
                if ($target.length) {
                    var targetOffset = $target.offset().top;
                    $('html,body').animate({
                        scrollTop: targetOffset
                    },
                        800);
                    return false;
                }
            }
        });
    </script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 4.5,
            spaceBetween: 0,
            freeMode: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
        var swiper2 = new Swiper(".mySwiper2", {
            loop: true, // 循环模式选项
            autoplay: {
                delay: 3000, //自动切换的时间间隔，单位ms
                disableOnInteraction: false //用户操作swiper之后，是否禁止autoplay
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });

        var swiperd3 = new Swiper(".mySwiper_d3", {
            slidesPerView: 1.1,
            spaceBetween: 0,
            freeMode: true,
            pagination: {
                //  el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
    <script type="text/javascript">
        //保险产品切换
        $(".bx .navlist li").click(function () {
            $(this).addClass("cur").siblings().removeClass("cur");
            $(".baoxianpro ul").eq($(this).index()).addClass("cur");
            $(".baoxianpro ul").eq($(this).index()).siblings().removeClass("cur");
        });
        //资讯课堂百科切换
        $(".infomation .navlist li").click(function () {
            $(this).addClass("cur").siblings().removeClass("cur");
            $(".infomationpro ul").eq($(this).index()).addClass("cur");
            $(".infomationpro ul").eq($(this).index()).siblings().removeClass("cur");
        });

    </script>
</body>
</html>