body{
    background:#fff;
    padding-bottom:50px;
}
.detail_title {
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    background: #fff;
    color: #0071e3;
}
    .detail_title .backsy {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30px;
    }
.list {
    border-bottom: 4px solid #f0f0f0;
    padding-bottom:10px;
}
.mainimg {
    display: block;
    margin: 0 auto;
    width: 100%;
}
h1{
    font-size:20px;
    font-weight:bold;
padding-left:10px;
padding-top:15px;
margin-bottom:5px;
}
.recordname {
    color: #757575;
    padding-left: 10px;
    font-size:14px;
}
.characteristic {
    width: 96%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
}
    .characteristic li {
        width: 50%;
        padding-left: 20px;
        box-sizing: border-box;
        float: left;
        background: url(../images/r.png) left center no-repeat;
        color: #494d51;
        margin-bottom:6px;
    }
.imglist{
    width:100%;
    margin:0 auto;
}
.imglist img{
    display:block;
    width:100%;
    margin:0 auto;
}
.imglist p{
    width:96%;
    margin:0 auto;
}
.detailnav {
    overflow: hidden;
    box-sizing: border-box;
    background: #fff;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom:10px;
    padding-top:5px;
}

    .detailnav li {
        float: left;
        width:23%;
        margin-right:2%;
    }

        .detailnav li.cur a {
            color: #0071e3;
            border-bottom: 2px solid #0071e3;
        }

    .detailnav a {
        padding-bottom:10px;
        color: #4d4d4d;
        text-align: left;
        border-bottom: 2px solid #fff;
        line-height: 48px;
        font-size: 16px;
    }
.copyright{
    background:#f7f7f7;
}
.action{
    width:100%;
    overflow:hidden;
    position:fixed;
    bottom:0;
    left:0;
}
    .action a {
        width: 50%;
        height: 52px;
        float: left;
        color: #fff;
        text-align: center;
        line-height: 52px;
        font-size: 22px;
    }
    .action .insure {
        background: #ff9110;
    }
    .action .consult {
        background: #0071e3 url(../images/zx.png) 20px center no-repeat;
        background-size: 22px;
        padding-left:25px;
        box-sizing:border-box;
    }
