<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>维思迈财经—提供中立的理财投资知识服务</title>
    <meta name="description" content="维思迈财经网提供中立的理财投资知识服务，汇集信用卡、基金、贷款、股票、保险等财经领域常识，助力您的财智人生！">
    <meta name="keywords" content="维思迈财经，财经知识类网站，理财投资，如何投资">
    <link href="h5/css/reset.css" rel="stylesheet" type="text/css">
    <link href="h5/css/index.css?222" rel="stylesheet" type="text/css">
    <link href="h5/css/swiper-bundle.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="h5/js/jquery-1.10.1.min.js"></script>
    <script src="h5/js/swiper-bundle.min.js"></script>

    <!--<link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript"
            src="js/jquery-1.10.1.min.js"></script>-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?dc514ac2d86a287446d54c8b1504b4b2";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body id="top">
<!-- 弹窗 -->
<!--<div class="pop-up">-->
<!--    <div class="pop-up-content">-->
<!--        <div class="btn-close">x</div>-->
<!--        <div class="main">正规资质 低佣开户 详情添加客服</div>-->
<!--        <div class="sub">微信咨询</div>-->
<!--        <a href="https://docs.qq.com/doc/DVWR1dGV6eUdZa3Rj">咨询</a>-->
<!--    </div>-->
<!--</div>-->
<!-- 咨询 -->
<div class="consult">
    <div class="title">
        <div class="main">小鹿财经 币圈综合资讯网站</div>
        <!-- <div class="sub">微信咨询</div> -->
    </div>
    <div class="btn-wrapper">
<!--        <a href="https://www.xiaolu.io/">加入</a>-->
        <span class="close-btn">x</span>
    </div>
</div>
<div class="top">
    <h1><a href="index.html"><img src="h5/images/logo.png" class="logo" /></a></h1>
    <div class="swiper mySwiper3">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="javascript:void(0);">首页</a></div>
            <div class="swiper-slide"><a href="#xinyongka">信用卡</a></div>
            <div class="swiper-slide"><a href="#baoxian">保险</a></div>
            <div class="swiper-slide"><a href="#licai">理财</a></div>
            <div class="swiper-slide"><a href="#gupiao">股票</a></div>
            <div class="swiper-slide"><a href="#daikuan">贷款</a></div>
            <div class="swiper-slide"><a href="#wenda">问答</a></div>
            <div class="swiper-slide"><a href="/dkmarkt.html">贷款超市</a></div>
            <div class="swiper-slide"><a href="#zhuanti">专题</a></div>
            <div class="swiper-slide"><a href="#shenghuo">金融生活</a></div>
            <div class="swiper-slide"><a href="#guanyuwomen">关于我们</a></div>
        </div>
    </div>
</div>
<!--20221123-->

<div class="banner">
    <div class="swiper mySwiper2">

        <div class="swiper-wrapper">
<!--            <div class="swiper-slide">-->
<!--                <a href="https://www.xiaolu.io/">-->
<!--                    <img src="h5/images/轮播_835_304.jpg" />-->
<!--                </a>-->
<!--            </div>-->



            <!--<a
                    href="https://n.95508.com/EVJbOZa9E"><img
                    src="h5/images/jd.jpg?1"/></a></div>-->
            <!--<div class="swiper-slide">

            <a
                        href="https://cdn.xjietiao.com/at/TLh5/xz01/"><img
                        src="image/bjh5.jpg?1"/></a></div>-->
            <!--<div class="swiper-slide">


                <a
                        href="https://cdn.xjietiao.com/at/TLh5/xz01/"><img
                        src="h5/images/dk1.jpg?1"/></a></div>-->
            <!--<div class="swiper-slide">

                <a
                        href="https://v2.qidaiapp.com/landplatform/#/home?channelId=908&access=14f110"><img
                        src="h5/images/qdbanner.jpg"/></a></div>-->
            <!--<div class="swiper-slide"><a
                    href="https://m.xkcowin.com/#/front/card-list?bank_id=14&rec_place=2&applyCode=97297gcts&oas=1&platform_id=4002&timestamp=1682408924714"><img
                    src="h5/images/h5barr.jpg?2"/></a></div>-->
            <!--<<div class="swiper-slide"><a
                href="https://weti.me/HFZA"><img
                src="h5/images/zah53.jpg?2"/></a></div>-->

            <div class="swiper-slide">
<!--                <a href="https://www.xiaolu.io/">-->
<!--                    <img src="h5/images/wsm1.jpg?2" />-->
<!--                </a>-->
            </div>




            <!--<<div class="swiper-slide"><a
            href="https://cxcc.me/RSYQG"><img
            src="h5/images/yqgh5.jpg?2"/></a></div>-->
            <!--<div class="swiper-slide"><a
                    href="https://weti.me/WSMSB"><img
                    src="h5/images/dk3.jpg"/></a></div>-->
        </div>
        <div class="swiper-pagination" id="swiper-pagination"></div>
    </div>
    <div class="zujian"><span class="zj_tip">广告</span><span class="zj_yiwen">?</span><span class="close_all">x</span></div>
    <div class="des_yiwen"><p>风险提示：广告信息均来自平台方，不代表平台安全性，不构成建议！贷款利率、年化收益率、期限、额度、生效时间等数据仅供参考，实际数据以平台方为准。红包、体验金、理财金、大礼包、加息券、满减券、优惠券等都不直接等同于现金。参考收益说明不是收益承诺，不代表最终真实收益。理财有风险，投资需谨慎！</p><span class="close_yiwen">x</span></div>
</div>
</div>
<div class="zhidingxinwen">
    <ul>
        <li th:each="syobj,systat:${sy}">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${syobj.columnurlname2}+'/article/'+${syobj.id}+'.html'}">
                <p th:text="${#strings.abbreviate(syobj.title,18)}">最全解读！P2P转型小贷指导意见，存在哪些转型难点？</p><span>
                        <s class="zd"
                           th:if="${systat.count}<=2">置顶</s><s>维思迈财经</s><s th:text="${syobj.insertdate}">刚刚</s>
                    </span>
            </a>
        </li>
    </ul>
</div>
<div class="fenlei" id="xinyongka">
    <h2><b></b>信用卡<span><a>分期</a><a>逾期</a><a>开通</a></span></h2>
    <ul>
        <li class="threeimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${xyk[0].columnurlname2}+'/article/'+${xyk[0].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(xyk[0].title,18)}">《中国小微企业金融服务》白皮书发布</p></div>
                <div class="imgdiv">
                    <img src="image/17.jpg" /><img src="image/18.jpg" /><img src="image/19.jpg" />
                </div>
                <div><span><s>维思迈财经</s><s th:text="${xyk[0].insertdate}">4小时前</s></span></div>
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${xyk[1].columnurlname2}+'/article/'+${xyk[1].id}+'.html'}">
                <div>
                    <p th:text="${#strings.abbreviate(xyk[1].title,18)}">评论：财富管理行业仍是一片蓝海</p>
                    <span><s>维思迈财经</s><s th:text="${xyk[1].insertdate} ">3小时前</s></span>
                </div>
                <img src="image/2.jpg" />
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${xyk[2].columnurlname2}+'/article/'+${xyk[2].id}+'.html'}">
                <div>
                    <p th:text="${#strings.abbreviate(xyk[2].title,18)}">
                        <span>热点</span>
                        P2P观察 |
                        实缴注册资本10亿 彰显备案决心
                    </p><span><s>维思迈财经</s><s th:text="${xyk[2].insertdate}">4小时前</s></span>
                </div>
                <img src="image/16.jpg" />
            </a>
        </li>
        <li class="oneimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${xyk[3].columnurlname2}+'/article/'+${xyk[3].id}+'.html'}">
                <div>
                    <p th:text="${#strings.abbreviate(xyk[3].title,18)}"><span>热点</span>周末重磅，国务院放大招，金融业对外开放“11条”来了</p>
                    <span><s>维思迈财经</s><s th:text="${xyk[3].insertdate}">4小时前</s></span>
                </div>
                <img src="image/16.jpg" />



            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${xyk[4].columnurlname2}+'/article/'+${xyk[4].id}+'.html'}">
                <div>
                    <p th:text="${#strings.abbreviate(xyk[4].title,18)}">积累财富，请注意你的时间</p><span><s>维思迈财经</s><s th:text="${xyk[4].insertdate}">4小时前</s></span>
                </div>
                <img src="image/4.jpg" />
            </a>
        </li>
    </ul>
</div>
<div class="fenlei" id="baoxian">
    <h2><b></b>保险<span><a>新生儿</a><a>医疗</a><a>养老</a></span></h2>
    <ul>
        <li class="threeimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${bx[0].columnurlname2}+'/article/'+${bx[0].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(bx[0].title,18)}">北京正为基本合格平台纳入监管试点做好准备</p></div>
                <div class="imgdiv">
                    <img src="image/20.jpg" /><img src="image/21.jpg" /><img src="image/22.jpg" />
                    <!--广告-->


                </div>
                <div><span><s>维思迈财经</s><s th:text="${bx[0].insertdate}">4小时前</s></span></div>
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${bx[1].columnurlname2}+'/article/'+${bx[1].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(bx[1].title,18)}">P2P观察 | 实缴注册资本10亿 彰显备案决心</p><span><s>维思迈财经</s><s th:text="${bx[1].insertdate}">3小时前</s></span></div>
                <img src="image/5.jpg" />
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${bx[2].columnurlname2}+'/article/'+${bx[2].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(bx[2].title,18)}"><span>热点</span>确保金融服务实体“不掉线”“不断流”</p><span><s>维思迈财经</s><s th:text="${bx[2].insertdate}">4小时前</s></span></div>
                <img src="image/6.jpg" />
            </a>
        </li>
        <li class="oneimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${bx[3].columnurlname2}+'/article/'+${bx[3].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(bx[3].title,18)}"><span>热点</span>周末重磅，国务院放大招，金融业对外开放“11条”来了</p><span><s>维思迈财经</s><s th:text="${bx[3].insertdate}">4小时前</s></span></div>
                <img src="right/jx3.jpg" />
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${bx[4].columnurlname2}+'/article/'+${bx[4].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(bx[4].title,18)}">最全解读！P2P转型小贷指导意见，存在哪些转型难点？</p><span><s>维思迈财经</s><s th:text="${bx[4].insertdate}">4小时前</s></span></div>
                <img src="image/7.jpg" />
            </a>
        </li>
    </ul>
</div>
<div class="fenlei" id="licai">
    <h2><b></b>理财<span><a>股票</a><a>基金</a><a>银行</a></span></h2>
    <ul>
        <li class="threeimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${lc[0].columnurlname2}+'/article/'+${lc[0].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(lc[0].title,18)}">北京正为基本合格平台纳入监管试点做好准备</p></div>
                <div class="imgdiv">
                    <img src="image/23.jpg" /><img src="image/24.jpg" /><img src="image/25.jpg" />
                </div>
                <!--广告-->


                <div><span><s>维思迈财经</s><s th:text="${lc[0].insertdate}">4小时前</s></span></div>
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${lc[1].columnurlname2}+'/article/'+${lc[1].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(lc[1].title,18)}">P2P观察 | 实缴注册资本10亿 彰显备案决心</p><span><s>维思迈财经</s><s th:text="${lc[1].insertdate}">3小时前</s></span></div>
                <img src="image/8.jpg" />
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${lc[2].columnurlname2}+'/article/'+${lc[2].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(lc[2].title,18)}"><span>热点</span>确保金融服务实体“不掉线”“不断流”</p><span><s>维思迈财经</s><s th:text="${lc[2].insertdate}">4小时前</s></span></div>
                <img src="image/9.jpg" />
            </a>
        </li>
        <li class="oneimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${lc[3].columnurlname2}+'/article/'+${lc[3].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(lc[3].title,18)}"><span>热点</span>周末重磅，国务院放大招，金融业对外开放“11条”来了</p><span><s>维思迈财经</s><s th:text="${lc[3].insertdate}">4小时前</s></span></div>
                <img src="right/jx5.jpg" />
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${lc[4].columnurlname2}+'/article/'+${lc[4].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(lc[4].title,18)}">最全解读！P2P转型小贷指导意见，存在哪些转型难点？</p><span><s>维思迈财经</s><s th:text="${lc[4].insertdate}">4小时前</s></span></div>
                <img src="image/10.jpg" />
            </a>
        </li>
    </ul>
</div>
<div class="fenlei" id="gupiao">
    <h2><b></b>股票<span><a>期权</a><a>开户</a><a>税收</a></span></h2>
    <ul>
        <li class="threeimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${gp[0].columnurlname2}+'/article/'+${gp[0].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(gp[0].title,18)}">《中国小微企业金融服务》白皮书发布</p></div>
                <div class="imgdiv">
                    <img src="image/26.jpg" /><img src="image/27.jpg" /><img src="image/28.jpg" />
                </div>
                <div><span><s>维思迈财经</s><s th:text="${gp[0].insertdate}">4小时前</s></span></div>
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${gp[1].columnurlname2}+'/article/'+${gp[1].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(gp[1].title,18)}">评论：财富管理行业仍是一片蓝海</p><span><s>维思迈财经</s><s th:text="${gp[1].insertdate}">3小时前</s></span></div>
                <img src="image/11.jpg" />
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${gp[2].columnurlname2}+'/article/'+${gp[2].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(gp[2].title,18)}"><span>热点</span>P2P观察 | 实缴注册资本10亿 彰显备案决心</p><span><s>维思迈财经</s><s th:text="${gp[2].insertdate}">4小时前</s></span></div>
                <img src="image/12.jpg" />
            </a>
        </li>
        <li class="oneimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${gp[3].columnurlname2}+'/article/'+${gp[3].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(gp[3].title,18)}"><span>热点</span>周末重磅，国务院放大招，金融业对外开放“11条”来了</p><span><s>维思迈财经</s><s th:text="${gp[3].insertdate}">4小时前</s></span></div>
                <img src="right/jx7.jpg" />



            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${gp[4].columnurlname2}+'/article/'+${gp[4].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(gp[4].title,18)}">积累财富，请注意你的时间</p><span><s>维思迈财经</s><s th:text="${gp[4].insertdate}">4小时前</s></span></div>
                <img src="image/13.jpg" />
            </a>
        </li>
    </ul>
</div>
<div class="fenlei" id="daikuan">
    <h2><b></b>贷款<span><a>房贷</a><a>车贷</a><a>还款</a></span></h2>
    <ul>
        <li class="threeimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${dk[0].columnurlname2}+'/article/'+${dk[0].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(dk[0].title,18)}">《中国小微企业金融服务》白皮书发布</p></div>
                <div class="imgdiv">
                    <img src="image/29.jpg" /><img src="image/30.jpg" /><img src="image/13.jpg" />
                </div>

                <!--广告-->

                <div><span><s>维思迈财经</s><s th:text="${dk[0].insertdate}">4小时前</s></span></div>
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${dk[1].columnurlname2}+'/article/'+${dk[1].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(dk[1].title,18)}">评论：财富管理行业仍是一片蓝海</p><span><s>维思迈财经</s><s th:text="${dk[1].insertdate}">3小时前</s></span></div>
                <img src="image/14.jpg" />
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${dk[2].columnurlname2}+'/article/'+${dk[2].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(dk[2].title,18)}"><span>热点</span>P2P观察 | 实缴注册资本10亿 彰显备案决心</p><span><s>维思迈财经</s><s th:text="${dk[2].insertdate}">4小时前</s></span></div>
                <img src="image/15.jpg" />
            </a>
        </li>
        <li class="oneimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${dk[3].columnurlname2}+'/article/'+${dk[3].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(dk[3].title,18)}"><span>热点</span>周末重磅，国务院放大招，金融业对外开放“11条”来了</p><span><s>维思迈财经</s><s th:text="${dk[3].insertdate}">4小时前</s></span></div>
                <img src="right/jx9.jpg" />
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${dk[4].columnurlname2}+'/article/'+${dk[4].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(dk[4].title,18)}">积累财富，请注意你的时间</p><span><s>维思迈财经</s><s th:text="${dk[4].insertdate}">4小时前</s></span></div>
                <img src="image/16.jpg" />
            </a>
        </li>
    </ul>
</div>
<div class="fenlei" id="shenghuo">
    <h2><b></b>金融生活<span><a>个护</a><a>护肤</a><a>美妆</a></span></h2>
    <ul>
        <li class="threeimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${dk[0].columnurlname2}+'/article/'+${dk[0].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(dk[0].title,18)}">《中国小微企业金融服务》白皮书发布</p></div>
                <div class="imgdiv">
                    <img src="image/29.jpg" /><img src="image/30.jpg" /><img src="image/13.jpg" />
                </div>

                <!--广告-->

                <div><span><s>维思迈财经</s><s th:text="${dk[0].insertdate}">4小时前</s></span></div>
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${dk[1].columnurlname2}+'/article/'+${dk[1].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(dk[1].title,18)}">评论：财富管理行业仍是一片蓝海</p><span><s>维思迈财经</s><s th:text="${dk[1].insertdate}">3小时前</s></span></div>
                <img src="image/14.jpg" />
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${dk[2].columnurlname2}+'/article/'+${dk[2].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(dk[2].title,18)}"><span>热门</span>P2P观察 | 实缴注册资本10亿 彰显备案决心</p><span><s>维思迈财经</s><s th:text="${dk[2].insertdate}">4小时前</s></span></div>
                <img src="image/15.jpg" />
            </a>
        </li>
        <li class="oneimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${dk[3].columnurlname2}+'/article/'+${dk[3].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(dk[3].title,18)}"><span>热门</span>周末重磅，国务院放大招，金融业对外开放“11条”来了</p><span><s>维思迈财经</s><s th:text="${dk[3].insertdate}">4小时前</s></span></div>
                <img src="right/jx9.jpg" />
            </a>
        </li>
        <li class="rightimg">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${dk[4].columnurlname2}+'/article/'+${dk[4].id}+'.html'}">
                <div><p th:text="${#strings.abbreviate(dk[4].title,18)}">积累财富，请注意你的时间</p><span><s>维思迈财经</s><s th:text="${dk[4].insertdate}">4小时前</s></span></div>
                <img src="image/16.jpg" />
            </a>
        </li>
    </ul>
</div>
<div class="fenlei" id="wenda">
    <h2><b></b>精选问答</h2>
    <ul>
        <li class="wenda" th:each="askobj,askstat:${ask}" th:if="${askstat.count}<=10">
            <a th:href="@{${#httpServletRequest.getContextPath()}+'/'+${askobj.columnurlname2}+'/ask/'+${askobj.id}+'.html'}">
                <div><p th:text="${askobj.ask}">7年仅出现两次的今又再现了！这次金价还会暴力上涨几百美元吗？</p></div>
                <div class="touxiang">
                    <img src="h5/images/tx1.jpg" /><span class="wangming">维思迈财经</span>
                    <p th:utext="${#strings.abbreviate(askobj.bestanswer,60)}">货币降准有一定空间</p>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="fenlei" id="zhuanti">
    <h2><b></b>专题</h2>
    <ul class="zhuanti">
        <li><a href="/ot_xyk/article/1198.html">信用卡问答</a></li>
        <li><a href="/ot_bx/article/863.html">保险知识</a></li>
        <li><a href="/ot_gp/article/9396.html">股票</a></li>
        <li><a href="/dk/article/1078.html">贷款</a></li>
        <li><a href="/ot_lc/article/10511.html">理财</a></li>
        <li><a href="/hot/ask/24126.html">问答</a></li>
        <li><a href="/ot_bx/article/913.html">攻略</a></li>
        <li><a href="/ot_bx/article/939.html">攻略</a></li>
        <li><a href="/bx/article/1026.html">攻略</a></li>
    </ul>
</div>
<div class="fenlei women" id="guanyuwomen">
    <h2><b></b>关于我们</h2>
    <p>维思迈财经网，提供中立的理财投资知识服务，汇集信用卡、基金、贷款、股票、保险等财经领域常识，用浅显的生活语言把专业金融知识变成您生活的一部分，助力您的财智人生！</p>
    <p>金融与生活：虽然“金融”一词看起来很高级，但他也正是贯穿我们生活的一部分。在这个快速发展的世界中，在这个日益膨胀的金融体系中，我们应学会理性看待资本经济，认同金融给我们生活上带来的便利以及它的创造价值，树立正确的消费观念，共同维护这个经济市场，使金融发展带来的积极影响最大化，避免一些可规避的负面影响。</p>
    <p>金融与科技：金融科技英译为Fintech， 是 Financial Technology 的缩写，可以简单理解成为Finance（金融）+Technology（科技），指通过利用各类科技手段创新传统金融行业所提供的产品和服务，提升效率并有效降低运营成本。</p>
    <p>根据金融稳定理事会（FSB）的定义，金融科技是基于大数据、云计算、人工智能、区块链等一系列技术创新，全面应用于支付清算、借贷融资、财富管理、零售银行、保险、交易结算等六大金融领域，是金融业未来的主流趋势。</p>
    <p>维思迈财经互联网：作为金融科技的细分方向， 维思迈财经网定位于提供金融知识，让专业金融通过互联网更好的服务大众，让大众更好地认知金融，更好地使用金融工具。</p>
    <p>维思迈财经网定位于知识信息的服务提供商，既有官方发布遴选的专业知识，也汇集网民的百家争鸣之作，希望通过海量的知识内容为您展示并绘画出多彩的财智人生。</p>

</div>
<div class="copyright">
    <p>维思迈财经网提供中立的理财投资知识服务，汇集信用卡、基金、贷款、股票、保险等财经领域常识，用浅显的生活语言把专业金融知识变成您生活的一部分，助力您的财智人生！</p>
    <p>Copyright©2021 www.openvsm.com All Rights Reserved. 京ICP备15008691号-17 </p>
    <p> 版权所有： 沈阳维思迈科技有限公司</p>
<!--    <p> 友情链接：</p>-->
<!--    <p th:each="link : ${friendly_link}">-->
<!--        <a th:href="@{${link.link}}">[[${link.name}]]</a>-->
<!--    </p>-->

    <!-- <p> 违法和不良信息举报电话：0351-7020802</p>-->
    <img src="h5/images/kx.png" />
</div>
<!--<div class="back"><a href="#top"><img src="h5/images/top.png" /></a></div>
<div class="swhz">
    <span>商务合作</span>
    <p>合作微信：vsmai010</p>
</div>-->
<script type="text/javascript">
    //锚点缓动
    $('a[href*=#]').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var $target = $(this.hash);
            $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');
            if ($target.length) {
                var targetOffset = $target.offset().top;
                $('html,body').animate({
                        scrollTop: targetOffset
                    },
                    800);
                return false;
            }
        }
    });
</script>
<script>
    var swiper = new Swiper(".mySwiper3", {
        slidesPerView: 5,
        spaceBetween: 0,
        freeMode: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });

    var la = 0;
    $(".swhz span").click(function () {
        if (la == 0) {
            $(".swhz p").stop().animate(
                { right: "0" }
            );
            la = 1;
        } else {
            $(".swhz p").stop().animate(
                { right: "-200px" }
            );
            la = 0;
        }
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true, // 循环模式选项
        autoplay: {
            delay: 3000, //自动切换的时间间隔，单位ms
            disableOnInteraction: true //用户操作swiper之后，是否禁止autoplay
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });

    //疑问打开和关闭
    $(".zj_yiwen").click(function () {
        $(".des_yiwen").css("display", "block");
    });
    $(".close_yiwen").click(function () {
        $(".des_yiwen").css("display", "none");
    });
    //贷款广告
    $(".close_all").click(function () {
        $(".banner").css("display", "none");
    });

    // 顶部浮条
    $('.close-btn').click(function () {
        $('.consult').css("display", "none");
    })
    // 弹窗
    // $('.btn-close').click(function () {
    //     $('.pop-up').css("display", "none");
    // })
</script>


</body>
</html>